/* CSS untuk mode gelap */
.dark-mode {
  background-color: #1a1a1a; /* Latar belakang gelap */
  color: #ffffff; /* Teks terang */
}
.dark-mode .main-navbar {
  background-color: #333; /* Latar belakang navbar gelap */
  color: #ffffff; /* Teks navbar terang */
}
/* Tambahkan lebih banyak gaya sesuai dengan kebutuhan Anda */
